@import url(index.css);

.my-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 90px;
}
.before {
  font-size: 12px;
  color: #d0df56;
}
.card-title {
  font-size: 24px;
  color: #062a4d;
  font-weight: 700;
  font: bold;
}
.card-text {
  font-size: 17px;
  color: #54738e;
  font: bold;
  font-weight: 500;
}
.btn {
  width: 120px;
  height: 50px;
  font: bold;
  background-color: rgb(208, 223, 86);
  border: 1px solid white;
}
.about-botton {
  font-size: 14px;
  font: bold;
  color: #062a4d;
}

/*@media (min-width: 500px) {
  .my-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
  }
}*/
form {
  display: flex;
  flex-direction: column;
  width: 425px;
  height: 680px;
  margin: 50px 450px;
  background-color: grey;
  padding: 20px;
  color: #50aab2;
}
.form-p {
  font-size: 16px;
  text-align: center;
}
.form-h2 {
  font-size: 40px;
  text-align: center;
}
.my-text {
  margin: 10px 0;
}
.form-button {
  font-size: 14px;
  background-color: #d0df56;
  width: 100%;
  color: black;
}
.accordion {
  display: flex;
  justify-content: space-between;
  margin: 20px;

  background-color: #e8eeef;
  font: bold;
}
.accordion-item {
  width: 100%;
}
.accordion-button {
  font-size: 28px;
  font: bolder;
  color: rgb(6, 42, 77);
  font-weight: 500;
}
.accordion-body {
  font-size: 17px;
  color: #50aab2;
  background-color: #e8eeef;
}
